<div class="jumbotron text-center">
    <h1 class="display-5">Corona Virus Disease (COVID-19) Tracker</h1>
    <p class="lead">Coronavirus disease 2019 (COVID-19) is a contagious respiratory and vascular (blood vessel) disease
        caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2), a specific type of coronavirus
        responsible for an ongoing pandemic.</p>
    <hr class="my-4">
    <p>Common symptoms include fever, cough, fatigue, breathing difficulties, and loss of smell and taste. Symptoms
        begin one to fourteen days after exposure to the virus. While most people have mild symptoms, some people
        develop acute respiratory distress syndrome (ARDS) possibly precipitated by cytokine storm, multi-organ failure,
        septic shock, and blood clots. Longer-term damage to organs (in particular, the lungs and heart) has been
        observed, and there is concern about a significant number of patients who have recovered from the acute phase of
        the disease but continue to experience a range of effects—including severe fatigue, memory loss and other
        cognitive issues, low grade fever, muscle weakness, breathlessness, and other symptoms—for months afterwards.
    </p>
</div>


<h1 class="text-center text-info mb-4">World Statistics</h1>

<app-dashboard-card [totalActive]="totalActive" [totalConfirmed]="totalConfirmed" [totalDeaths]="totalDeaths"
    [totalRecovered]="totalRecovered">
</app-dashboard-card>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h5 class="text-info">Select case type: </h5>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="confirmed" id="confirmed" name="casetype" #confirmed (click)="updateChart(confirmed)" checked>
                <label class="form-check-label" for="confirmed">Confirmed</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="recovered" id="recovered" name="casetype" #recovered (click)="updateChart(recovered)">
                <label class="form-check-label" for="recovered">Recovered</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="active" id="active" name="casetype" #active (click)="updateChart(active)">
                <label class="form-check-label" for="active">Active</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="deaths" id="deaths" name="casetype" #deaths (click)="updateChart(deaths)">
                <label class="form-check-label" for="deaths">Deaths</label>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <google-chart [type]="chart.PieChart" [data]="datatable" [height]="chart.height" [options]="chart.options"></google-chart>
        </div>

        <div class="col-md-6">
            <google-chart [type]="chart.ColumnChart" [data]="datatable" [height]="chart.height" [options]="chart.options"></google-chart>
        </div>
    </div>
</div>